/* Colores originales del Marco */
/*.area1 {
  background-color: #ee7942;
}
.area2 {
  background-color: #329d53;
}
.area3 {
  background-color: #2b7fb9;
}
.area4 {
  background-color: #00a69f;
}
.area5 {
  background-color: #5e428b;
}
.area6 {
  background-color: #c93d61;
}*/

/* mas suaves  */
/*.area1 {
  background-color: #f0a57d;
}
.area2 {
  background-color: #63b77a;
}
.area3 {
  background-color: #5c95ca;
}
.area4 {
  background-color: #35b9b2;
}
.area5 {
  background-color: #8f6da5;
}
.area6 {
  background-color: #da677e;
}
*/

.area1 {
  background-color: #f9d2bf;
}
.area2 {
  background-color: #9dd3b3;
}
.area3 {
  background-color: #9fb9e7;
}
.area4 {
  background-color: #7adad0;
}
.area5 {
  background-color: #c8a6c2;
}
.area6 {
  background-color: #eda8b6;
}

.hidden {
  display: none;
}


html {
  font-size: 0.7rem;
}

.form-check-label {
  padding-left: 1em;
}


table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0;
  background-color: #fff;
/*  background: red;*/
  z-index: 2;
}

th {
  border: 1px solid #dee2e6;
  padding: 0.75rem;
  vertical-align: middle;
  position: relative;
}

td {
  border: 1px solid #dee2e6;
  padding: 0.75rem;
  vertical-align: middle;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

/*.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}
*/

#resumen td {
  padding: 0.5rem;
  text-align: center;
}

.btn-generar {
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
  margin-right: 20px;
}