/* Colores del Marco */
.area1 {
  background-color: #ee7942;
}
.area2 {
  background-color: #329d53;
}
.area3 {
  background-color: #2b7fb9;
}
.area4 {
  background-color: #00a69f;
}
.area5 {
  background-color: #5e428b;
}
.area6 {
  background-color: #c93d61;
}

html {
  font-size: 0.7rem;
}

.form-check-label {
  padding-left: 1em;
}


table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border: 1px solid #dee2e6;
  padding: 0.75rem;
  vertical-align: middle;
  position: sticky;
  left: 0;
  z-index: 1;
}

th {
  border: 1px solid #dee2e6;
  padding: 0.75rem;
  vertical-align: middle;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}


.btn-generar {
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
  margin-right: 20px;
}