/* Colores del Marco */
/*.area1 {
  background-color: #ee7942;
}
.area2 {
  background-color: #329d53;
}
.area3 {
  background-color: #2b7fb9;
}
.area4 {
  background-color: #00a69f;
}
.area5 {
  background-color: #5e428b;
}
.area6 {
  background-color: #c93d61;
}*/


.area1 {
  background-color: #f0a57d;
}
.area2 {
  background-color: #63b77a;
}
.area3 {
  background-color: #5c95ca;
}
.area4 {
  background-color: #35b9b2;
}
.area5 {
  background-color: #8f6da5;
}
.area6 {
  background-color: #da677e;
}

html {
  font-size: 0.7rem;
}

.form-check-label {
  padding-left: 1em;
}


table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0;
  background-color: #fff;
  top: 0;
/*  background: red;*/
}

th {
  border: 1px solid #dee2e6;
  padding: 0.75rem;
  vertical-align: middle;
  position: relative;
}

td {
  border: 1px solid #dee2e6;
  padding: 0.75rem;
  vertical-align: middle;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

/*.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}
*/

.btn-generar {
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
  margin-right: 20px;
}