---
name: Build & Publish to GitHub Pages

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:

      - name: GitHub Checkout
        uses: actions/checkout@v3

      - name: Add js version to avoid cache
        run: |
          TIMESTAMP=$(date +%s)
          JS_VERSION="?v=$TIMESTAMP"
          sed -i "s|script.js|script.js$JS_VERSION|g" index.html
        
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          allow_empty_commit: true
          publish_dir: .
          cname: elidd.ernesto.es
          enable_jekyll: false
